<div class="min-h-screen bg-gray-100 p-8">
  <div class="max-w-2xl mx-auto">
    <div class="mb-8 flex justify-between items-center">
      <div>
        <h1 class="text-2xl font-bold text-gray-800">Gestor de Tareas</h1>
        @if (user) {
        <p>Bienvenido, {{ user?.name }}</p>

        }
      </div>
      <button
        class="bg-red-500 text-white px-4 py-2 rounded-lg hover:bg-red-600 transition-colors flex items-center gap-2"
        (click)="logout()"
      >
        Cerrar sesión
      </button>
    </div>

    <app-task-form (taskAdded)="handleTaskAdded()"></app-task-form>
    <app-task-list [tasks]="tasks"></app-task-list>
  </div>
</div>
